parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method setParameter\\(\\) on Illuminate\\\\Routing\\\\Route\\|null\\.$#"
			count: 1
			path: src/FormRequest/TestFormRequest.php

		-
			message: "#^Parameter \\#1 \\$key of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertArrayHasKey\\(\\) expects int\\|string, array\\<int, string\\>\\|string given\\.$#"
			count: 1
			path: src/FormRequest/TestValidationResult.php

		-
			message: "#^Part \\$attribute \\(array\\<int, string\\>\\|string\\) of encapsed string cannot be cast to string\\.$#"
			count: 1
			path: src/FormRequest/TestValidationResult.php

		-
			message: "#^Parameter \\#2 \\$transformation of method Soyhuce\\\\Testing\\\\Match\\\\ValueMatcher\\:\\:match\\(\\) expects callable\\(\\)\\: mixed, array\\<0\\|1\\|string, mixed\\> given\\.$#"
			count: 1
			path: src/Match/Matcher.php

		-
			message: "#^Method Soyhuce\\\\Testing\\\\TestResponse\\\\DataAssertions\\:\\:assertDataPath\\(\\) invoked with 2 parameters, 0 required\\.$#"
			count: 1
			path: src/TestResponse/DataAssertions.php

